body{
background-color: beige;
}
.topimage {
  background: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 550px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  }
  .button {
  	background: tomato;
  	color: whitesmoke;
  	border: 3px solid #eee;
  	border-radius: 30px;
  	box-shadow: 5px 5px 5px #eee;
  	text-shadow: none;
  }

.letters{
  color: deepskyblue;
  font-size: 20px;
  box-sizing: border-border-box;
  font-family: 'Poppins',sans-serif;
}
.bord{
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

.pic {
  background: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0%;
  position: relative;
        }
.first {

            position: absolute;
            top: 17px;
            left: 50px;
        }
.second {
                    position: absolute;
                    top: 70px;
                    left: 610px;
                }
.third{
            position: absolute;
            top: 140px;
            left: 660px;
                                }
.firstreward {
            position: absolute;
            top: 17px;
            left: 5px;
                                }


.thirdreward{
        position: absolute;
          top: 20px;
          left: 1260px;
                              }
